//
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;
//
$desctop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$small-phones: 375px;
//
$grey: #2f3234;
$white: rgb(255, 255, 255);
$yellow: #f9b43b;
$orange: #e45028;
$green: #8ac03e;
