.best {
  background-image: url("../images/bg/best-bg.jpg");
  @include cover;
  text-align: center;
  align-items: center;
  &__list {
    display: flex;
    @include phones {
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 15px;
    @include phones {
      flex-direction: row;
      margin-bottom: 3rem;
    }
  }
  &__desc {
    @include phones {
      text-align: left;
      margin-left: 20px;
    }
  }
  &__img {
    margin-bottom: 20px;
  }
  &__svg {
    width: 97px;
    height: 89px;
  }
  &__head {
    font-size: 24px;
    @include lifehack;
    margin-bottom: 15px;
    line-height: 1.25;
  }
  &__text {
    font-size: 14px;
    font-weight: $lightFont;
    line-height: 1.8;
  }
}

.svg-beef {
  fill: #e35028;
}

.svg-hand {
  fill: #f9b43b;
}

.svg-natural {
  fill: #8bc03f;
}
