.burger {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  position: relative;
  @include tablets {
    flex-direction: column;
  }
  &__photo {
    flex: 1;
    padding: 80px 0;
    @include tablets {
      width: 100%;
      text-align: center;
      padding-bottom: 0;
      flex: auto;
    }
  }
  &__img {
    max-width: 100%;
    @include tablets {
      max-width: 80%;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1rem;
    @include tablets {
      width: 100%;
      text-align: center;
      margin: 0;
      flex: auto;
    }
  }
  &__text {
    font-size: 14px;
    color: $white;
    line-height: 1.7;
  }
  &__order {
    display: flex;
    align-items: baseline;
    @include tablets {
      justify-content: center;
    }
  }
  &__price {
    font-family: gagalin;
    color: $orange;
    margin-right: 30px;
    &-num {
      font-size: 71px;
      @include small-phones {
        font-size: 60px;
      }
    }
    &-text {
      font-size: 30px;
    }
  }
}

.burger__badge {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 30px;
  &--ingred {
    top: 2rem;
    background-color: #eb8c38;
    padding: 14px 23px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    &:hover {
      background-color: $orange;
    }
  }
  &--calor {
    bottom: 4rem;
    @include tablets {
      top: 2.5rem;
      right: 4rem;
      bottom: auto;
      left: auto;
    }
  }
}

.burger__badge-text {
  font-family: gagalin;
  font-size: 14px;
  color: $white;
  &--op {
    opacity: .5;
  }
  &--num {
    position: absolute;
    @include centered;
    font-size: 20px;
  }
}

.burger__ingred-svg {
  width: 45px;
  height: 45px;
  fill: #FFFFFF;
}

.burger__calor-svg {
  width: 60px;
  height: 60px;
  fill: rgba(255, 255, 255, 0.5);
}

.burger__dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: $white;
  border-radius: 5px;
  transition: 1s;
}