.ingred {
  padding: 1rem 1.5rem;
  width: 270px;
  @include small-phones {
    width: 230px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: $grey;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    width: 48px;
  }
  &__name {
    margin-left: 20px;
    font-weight: $mediumFont;
  }
  &__weight {
    margin-left: auto;
  }
}

.ingred__svg-beef,
.ingred__svg-sauce {
  fill: $orange;
}

.ingred__svg-buns,
.ingred__svg-cheese {
  fill: $yellow;
}

.ingred__svg-salad,
.ingred__svg-cucumber {
  fill: $green;
}