.nav {
  @include tablets {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  &::after {
    content: '';
    @include circle(4px, $white);
    margin: 0 16px;
  }
  &:last-child::after {
    display: none;
  }
}

.nav__link {
  display: block;
  font-size: 13px;
  padding: 3px 0;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}