.popup__open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($grey, 0.9);
}

.popup__window {
  position: relative;
  background-color: #fff;
  width: 460px;
  border-radius: 5px;
  color: $grey;
  font-size: 14px;
  padding: 1.5rem;
  @include phones {
    width: 90%;
  }
}

.popup__head {
  @include gagalin;
  font-size: 14px;
  margin-bottom: 1rem;
}

.popup__text {
  line-height: 1.7;
}