.section-title {
  font-size: 72px;
  @include gagalin;
  color: $yellow;
  margin-bottom: 15px;
  line-height: 0.9;
  @include phones {
    font-size: 65px;
  }
  &--black {
    color: $grey;
  }
  &--white {
    color: $white;
  }
  &--big-margin {
    margin-bottom: 35px;
  }
  &--center {
    text-align: center;
  }
  &--menu {
    position: absolute;
    top: 15%;
    left: 10%;
  }
}
